.fundo{
    background-color: #303030;
}

.container{
    background-color: #eeeeee;
    margin-top: 2.5vh;
    padding-bottom: 2.5vh;
}
.formulario{
    min-width: 300px;
}
.btn-secondary{
    min-width: 148px;
    margin-left: 1px;
    margin-right: 1px;
}

.confirm-pwd-label{
    margin-top: -5px;
}
.new-pwd-label{
   margin-top: -10px;
}

@media screen and (min-width: 992px) {   
    #sobrenome-label{
        padding-left: 7px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .confirm-pwd-label{
        margin-top: -15px;
    }
}
@media screen and (max-width: 991px){
    .confirm-pwd-label{
        margin-top: 15px;
    }
}

#new-pwd-error, #confirm-pwd-error, #data-nascimento-error{
    color: red;
}